.ChatMessageContainer
{
	position: relative;
}
.RoomIdDiv
{
	/*left: 0;*/
	/*position: absolute;*/
	/*top: 0;*/
	text-align: left;
	width: 100%;
	height: 24px;
	background-color: deepskyblue;
	padding: 4px 3px;
	box-sizing: border-box;
	font-size: 10px;
}

.LoadMreDiv
{
	height: 30p